@import "normalize.css";

.ReactModal__Overlay {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ReactModal__Overlay--after-open {
    transform: scaleY(1);
}

.ReactModal__Overlay--before-close {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
